<!DOCTYPE html>
<html lang="en" ng-app="ticketApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Res Ticket</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ui-view>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Hot Ticket</a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="login">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a ui-sref="login">Log In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Welcome!</h1>
        <div class="row center">
          <h5 class="header col s12 light">We are working on bring the restaurant business into the Modern Age!</h5>
        </div>
        <div class="row center">
          <a ui-sref="login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="res-1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">This app was created to get the restaurant ticketing system out of the Stone Age and into the Modern Age. No more lost tickets, printer jams, or high ticket times!</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">receipt</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">No more printer jams or lost tickets. Hot Ticket is the modern way of keeping your ticket times within a reasonable timeframe to keep your business running efficiently.</p>
          </div>
        </div>
      </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">

        <div class="row">
          <div class="parallax-container valign-wrapper">
            <div class="parallax"><img src="res-4.jpg" alt="Unsplashed background img 2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" ng-href="https://www.linkedin.com/in/shaina-veloz-1884433b?trk=nav_responsive_tab_profile_pic">LinkedIn</a><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
              <li><a class="white-text" ng-href="https://github.com/shainaveloz?tab=overview&from=2016-08-01&to=2016-08-31&utf8=%E2%9C%93">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3">Shaina Veloz</a>
        </div>
      </div>
    </footer>

  <!--  Scripts-->
  <ui-view></ui-view>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../public/js/components/platform.js" async defer></script>
  <script src="../public/js/index.js"></script>
  <script src="https://use.fontawesome.com/d24ce67df4.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body ui-view>
</html>
