<div class="col l3 s12">
    <h5 class="white-text">Home</h5>
    <ul>
        <li><a class="white-text" href="">Home</a></li>
    </ul>
</div>
<div class="col l3 s12">
    <h5 class="white-text">Drinks</h5>
    <ul>
        <li><a class="white-text" href="">Drinks</a></li>
    </ul>
</div>
<div class="col l3 s12">
    <h5 class="white-text">Entrees</h5>
    <ul>
        <li><a class="white-text" href="">Entrees</a></li>
    </ul>
</div>
<div class="col l3 s12">
    <h5 class="white-text">Appetizers</h5>
    <ul>
        <li><a class="white-text" href="">Appetizers</a></li>
    </ul>
</div>
<div class="col l3 s12">
    <h5 class="white-text">Desserts</h5>
    <ul>
        <li><a class="white-text" href="">Desserts</a></li>
    </ul>
</div>
<div class="col l3 s12">
    <h5 class="white-text">Orders In</h5>
    <ul>
        <li><a class="white-text" href="">Orders In</a></li>
    </ul>
</div>
